@use postcss-nested;
@use autoprefixer;
@use postcss-simple-vars;
@use postcss-discard-comments;

$fargglad:#722872;
$morkfarg:#592059;
$morkgra:#888;

.bg { 
    /* The image used */
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/moving-stars-on-black-background_41x3vg3x__F0000.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.smaller-image {
  width: 100px;
}
#home {
  padding-top:250px; height:500px;
}
#about {
  padding-top:50px;
}
#portfolio{
  padding-top:50px;
}
#contactme{
  padding-top:50px;
}
/*Social Media Buttons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github {
  background: #616161;
  color: white;
}
.fa-twitter {
  background: #00ACC1;
  color: white;
}
.fa-twitch {
  background: #7B1FA2;
  color: white;
}
hr.star-{
  &bright, &dark {
    margin: 40px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;
    text-align:center;
    header & {
      @media(min-width:1023px){
        margin-right:0;
        text-align:right;
        &:after {
          right:-10px;
        }
      }
    }
    &:after {
      content: '\f121';
      font-family: FontAwesome;
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-size: 2em;
    }
  }
  &bright {
    border-color: #fff;
    &:after {
      color: #fff;
      background-color: #aaa;
    }
  }
  &dark {
    border-color: $morkgra;
    &:after {
      color: $morkgra;
      background-color: #eee;
    }
  }
}
.panel {
    margin-top: 0 !important; 
    margin-bottom: 0 !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}